<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class='.w3-table-all'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user, class:"w3-button w3-hover-sepia w3-light-green w3-text-white" %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class:"w3-button w3-hover-sepia w3-light-green w3-text-white"  %></td>
        <td><%= link_to 'Destroy', user,  method: :delete, class:"w3-button w3-hover-sepia w3-light-green w3-text-white", data: { confirm: 'Are you sure?' }  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New User', new_user_path, class:"w3-button w3-block w3-hover-sepia w3-light-green w3-text-white"%>
